<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676637413467-7jdrp41pqp3ma8n8tc3olcn3od16dm3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676637413467-7jdrp41pqp3ma8n8tc3olcn3od16dm3q</string>
	<key>API_KEY</key>
	<string>//YOUR API_KEY HERR//</string>
	<key>GCM_SENDER_ID</key>
	<string>676637413467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gostar.swipie</string>
	<key>PROJECT_ID</key>
	<string>swipie-f48da</string>
	<key>STORAGE_BUCKET</key>
	<string>swipie-f48da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676637413467:ios:75ebd2572d2b2522caef7e</string>
</dict>
</plist>